{% extends 'EventEventBundle:Backend:layout.html.twig' %}

{% block content %}
<section>
    <div class="page-header">
        <h3>{{ 'Sold Tickets'|trans }}</h3>
    </div>

    <table class="table table-striped table-bordered" id="sold_tickets">
        <thead>
            <tr>
                <th>id</th>
                <th>{{ 'Ticket'|trans }}</th>
                <th>{{ 'Fullname'|trans }}</th>
                <th>{{ 'Email'|trans }}</th>
                <th>{{ 'Company'|trans }}</th>
                <th>{{ 'Position'|trans }}</th>
                <th>{{ 'City'|trans }}</th>
                <th>{{ 'Discount Name'|trans }}</th>
                <th>{{ 'Discount Amount'|trans }}</th>
                <th>{{ 'Status'|trans }}</th>
                <th>{{ 'Event'|trans }}</th>
                <th>{{ 'Price'|trans }}</th>
                <th>{{ 'Lunch'|trans }}</th>
                <th>{{ 'After_party'|trans }}</th>
                <th>{{ 'Created'|trans }}</th>
                <th>{{ 'Sold'|trans }}</th>
                <th>{{ 'Order id'|trans }}</th>
                <th>{{ 'Liqpay status'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for sold_ticket in sold_tickets %}
            <tr>
                <td>{{ sold_ticket.id }}</td>
                <td>{{ sold_ticket.ticket.name }}</td>
                <td>{{ sold_ticket.fullName }}</td>
                <td nowrap>{{ sold_ticket.email }}</td>
                <td nowrap>{{ sold_ticket.company }}</td>
                <td nowrap>{{ sold_ticket.position }}</td>
                <td nowrap>{{ sold_ticket.city }}</td>
                <td nowrap>{{ sold_ticket.discount ? sold_ticket.discount.name : '-'}}</td>
                <td nowrap>{{ sold_ticket.discountString }}</td>
                <td nowrap>{{ sold_ticket.statusLabel }} </td>
                <td nowrap>{{ sold_ticket.ticket.event.title }} </td>
                <td nowrap>{{ sold_ticket.price }} </td>
                <td>{{ sold_ticket.lunch == true ? '+' : '-' }} </td>
                <td>{{ sold_ticket.ap == true ? '+' : '-' }} </td>
                <td nowrap>{{ sold_ticket.dateCreated|date('Y-m-d H:i:s') }} </td>
                <td nowrap>{{ sold_ticket.dateSold ? sold_ticket.dateSold|date('Y-m-d H:i:s'): '' }} </td>
                <td>{{ sold_ticket.uid }} </td>
                <td>{{ sold_ticket.liqpayStatus }} </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'No tickets sold'|trans }}.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            var elementsCount = '{{ sold_tickets|length }}';

            if ( 0 < elementsCount) {
                $('#sold_tickets').dataTable({
                    "iDisplayLength": 50,
                    "sDom": "<'row'<'span7'l><'span2'f>r>t<'row'<'span3'i><'span6'p>>",
                    "sPaginationType": "bootstrap",
                    "oLanguage": {
                        "sLengthMenu": "_MENU_ records per page"
                    },
                    "aaSorting": [[0, 'desc']]
                });
            }
        });
    </script>
{% endblock %}
