<div class="modal fade" id="{{ id }}">
    <div class="modal-dialog">
        <div class="wrap_modal">
            <div class="modal_header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="name">{{ speaker.fullName }}</h3>
                <h4 class="company">{{ speaker.company ? speaker.company : '' }} {{ speaker.position ? '(' ~ speaker.position ~ ')' }}</h4>
            </div>
            <div class="modal_img">
                <img src="{{ speaker.photo ?: '' }}" alt="">
            </div>
            <div class="modal_content" id="speaker-info">
                <h3>Info</h3>
                {% if speaker.bio %}
                    <p>{{ speaker.bio }}</p>
                {% endif %}
                {% set social = [] %}
                <ul>
                    <li>{% if speaker.github %}
                            {% set social = social|merge(['<a href="https://github.com/' ~ (speaker.github) ~ '">GitHub</a>']) %}
                        {% endif %}</li>
                    <li>{% if speaker.twitter %}
                            {% set social = social|merge(['<a href="https://twitter.com/' ~ (speaker.twitter) ~ '">Twitter</a>']) %}
                        {% endif %}</li>
                    <li>{% if speaker.homepage %}
                            {% set social = social|merge(['<a href="' ~ (speaker.homepage) ~ '">Homepage</a>']) %}
                        {% endif %}</li>
                </ul>
                <p>
                    {{ social|join(', ')|raw }}
                </p>
                <h3>Speech</h3>
                {% for speech in speaker.speeches %}
                    {% if currentEvent == speech.event %}
                        <p><strong>{{ speech.title }}</strong> <small>({{ speech.language }})</small></p>
                        <p>{{ speech.description }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
