{% extends 'EventEventBundle::base.html.twig' %}
{% set event = app.request.attributes.get('event') %}

{% block title %}{{ 'Buy ticket(s)'|trans }}{% endblock %}

{% block body %}
    {% include 'EventEventBundle:Component:_block_menu.html.twig' with {'home_page': false} %}
    <div class="container">
        <div class="form_but_ticket" id="buyTicketForm">
            <form name="soldTickets" method="post" action="{{ url('event_component_ticket') }}">
                <div class="flex">
                    <div class="form-group">
                        <label for="soldTickets_email">{{ 'Email'|trans }}:</label>
                        <input type="email" id="soldTickets_email" name="email" required="required" class="form-control">
                        <small id="emailHelp" class="form-text">
                            {{ 'Please, be sure You entered right Email. You\'ll receive your ticket(s) there'|trans }}
                        </small>
                    </div>
                </div>
                <div class="flex ticket-container">
                    <div class="form-group">
                        <label for="soldTickets_firstName">{{ 'FirstName'|trans }}:</label>
                        <input type="text" id="soldTickets_firstName" name="soldTickets[0][firstName]" required="required" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="soldTickets_lastName">{{ 'LastName'|trans }}:</label>
                        <input type="text" id="soldTickets_lastName" name="soldTickets[0][lastName]" required="required" class="form-control">
                    </div>
                    <a href="javascript:" class="remove-add-ticket" onclick="$(this).closest('.flex').remove();">X</a>
                </div>
                <div class="additional-tickets"></div>
                <a href="javascript:" id="add_one_more_ticket" class="btn btn-link">
                    {{ 'Add one more ticket'|trans }}
                </a>
                <input name="uid" type="hidden" value="{{ uid }}" />
                <input name="lunch" type="hidden" value="{{ lunch }}" />
                <input name="after-party" type="hidden" value="{{ ap }}" />
                <span class="hidden" id="tickets_count" data-count="1"></span>
                <input type="hidden" name="ticket_id" value="{{ ticket.id }}"  />
                <div class="flex">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            <span>{{ 'Pay'|trans }}</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% include 'EventEventBundle:Event:_footer.html.twig' %}
<script>
    $(document).ready(function(){
        $('#add_one_more_ticket').on('click', function(){
            var $count = $('#tickets_count').data('count');
            var $ticket_container = "<div class='flex'>" +
                    "<div class='form-group'>" +
                    "<label for='soldTickets_firstName'>" + "{{ 'FirstName'|trans }}" + ":</label>" +
            "<input type='text' id='soldTickets_firstName' name='soldTickets[" + $count + "][firstName]' required='required' class='form-control'>" +
                    "</div>" +
                    "<div class='form-group'>" +
                    "<label for='soldTickets_lastName'>" + "{{ 'LastName'|trans }}" + ":</label>" +
            "<input type='text' id='soldTickets_lastName' name='soldTickets["+$count+"][lastName]' required='required' class='form-control'>" +                    "</div>" +
                    "<a href='javascript:' class='remove-add-ticket' onclick='$(this).closest(\".flex\").remove();'>X</a>"+
                    "</div>";
//            $( ".ticket-container" ).clone().removeClass('ticket-container').appendTo( ".additional-tickets" );
            $( ".additional-tickets" ).append($ticket_container);
            $count = +$count + 1;
            $('#tickets_count').data('count', $count)
        });
    });
</script>

{% endblock %}

