<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>TicketPDF</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <style>
        body {
            width: 900px;
        }
        .ticket-container{
            border: 1px solid black;
            color: black;
            background-size: 108%;
            width: 100%;
            font: 26px PermianSansTypeface;
        }
        .ticket-container:after {
            content: "";
            display: table;
            clear: both;
        }
        .event_logo {
            width: 75%;
            margin-left: 50px;
            margin-top: 50px;
        }
        .left_side{
            width: 60%;
            float: left;
        }
        .right_side{
            width: 40%;
            text-align: right;
            float: left;
            padding-top: 52px;
        }
        .ticket_qr_container img {
            width: 60%;
            margin-right: 50px;
        }
        .eventator_logo_container img{
            width: 60%;
            margin-bottom: 25px;
            margin-right: 50px;
        }
        .name_container, .venue_container {
            margin-left: 50px;
        }
        .name_container {
            font: 34pt PT sans-serif;
            margin-top: 50px;
            margin-bottom: 30px;
            font-weight: bold;
        }
        .venue_container {
            margin-bottom: 25px;
            margin-left: 78px;
            font-size: 17pt;
        }
        .name_container p, .venue_container p{
            margin: 5px;
        }
        .venue_container img {
            width: 20px;
            margin-right: 35px;
        }
        span.social_link {
            padding-left: 25px;
            position: relative;
        }
        span.social_link:before {
            display: inline-block;
            content: '';
            width: 20px;
            height: 20px;
            background-size: contain !important;
            position: absolute;
            left: -25px;
            top: 5px;
        }
        span.social_fb:before {
            background: url({{ app.request.getSchemeAndHttpHost() ~ asset('bundles/eventevent/img/venue_icon_dark.png') }}) no-repeat center;
        }
        span.social_twt:before {
            background: url({{ app.request.getSchemeAndHttpHost() ~ asset('bundles/eventevent/img/date_icon_dark.png') }}) no-repeat center;
        }
        .site_url_container {
            text-align: left;
            margin-left: 94px;
            margin-top: 61px;
            font-size: 17pt;
        }
        .venue {
            margin-left: 25px;
        }
    </style>
</head>
<body>
<div class="ticket-container">
    <div class="left_side">
        <img class="event_logo" src="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/eventevent/img/rn_logo.png') }}" alt />
        <div class="name_container">
            <p class="guest_firstname">{{ soldTicket.firstName }}</p>
            <p class="guest_lastname">{{ soldTicket.lastName }}</p>
        </div>
        <div class="venue_container">
            <p class="social">
                <span class="social_link social_fb">
                    {{ soldTicket.ticket.event.country ~ ', ' ~ soldTicket.ticket.event.city }}
                </span>
            </p>
            <p class="social">
                <span class="social-link venue">
                    {{ soldTicket.ticket.event.venue }}
                </span>
            </p>
            <p class="social">
                <span class="social_link social_twt">
                    {{ soldTicket.ticket.event.startDate|date }}
                </span>
            </p>
        </div>
    </div>
    <div class="right_side">
        <div class="eventator_logo_container">
            <img src="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/eventevent/img/eventator-logo-pdf.png') }}" alt />
        </div>
        <div class="ticket_qr_container">
            <img src="{{ soldTicket.QRCode }}" alt />
        </div>
        <div class="site_url_container">
            {{ app.request.getSchemeAndHttpHost() }}
        </div>
    </div>
</div>
</body>
</html>
