{% extends 'EventEventBundle:Backend:base.html.twig'  %}

{% block body %}
    {% block menu %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                        <li>
                            <a href="#">Hey, {{ app.user.username|default('unknown') }}</a>
                        </li>
                        <li><a href="{{ path('admin_logout') }}">Sign Out</a></li>
                    </ul>
                </div>

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="brand" href="#">Eventator</a>

                <div class="nav-collapse collapse">
                    {{ knp_menu_render('EventEventBundle:Builder:dashboardNavigation', {'currentClass': 'active'}) }}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    <div class="container space">
        {% for message in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ message|trans }}
            </div>
        {% endfor %}
        {% for message in app.session.flashbag.get('error') %}
            <div class="alert alert-error">
                {{ message|trans }}
            </div>
        {% endfor %}
        {% for message in app.session.flashbag.get('notice') %}
            <div class="alert alert-info">
                {{ message|trans }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="span2 bs-docs-sidebar">
                <div class="well sidebar-nav">
                    {{ knp_menu_render('EventEventBundle:Builder:sideBar', {'currentClass': 'active'}) }}
                </div>
            </div>
            <div class="span9">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('.datepicker').datetimepicker({format: 'dd/mm/yyyy hh:ii'});
        })
    </script>
{% endblock %}
