{% extends 'EventEventBundle:Backend:layout.html.twig' %}

{% block content %}
    <section>
        <div class="page-header">
            <h3>{{ sponsor.id ? 'Edit' : 'Add' }} sponsor</h3>
            <a href="{{ path('backend_sponsor') }}" class="btn btn-small">&larr; Back to the list</a>
        </div>

        {{ render(controller('EventEventBundle:Backend/Dashboard:localeTabs', {'translations' : sponsor.translations})) }}

        {{ form_start(form, {'method': 'POST', 'action': path('backend_sponsor_edit', {'id': sponsor.id})}) }}
        <div class="tab-content">
            <div class="tab-pane active" id="{{ app.request.locale }}">
                <div class="well">
                    {{ form_row(form.events) }}
                </div>
                {{ form_row(form.company) }}
                {{ form_row(form.description) }}
                {{ form_row(form.logo) }}
                {{ form_row(form.homepage) }}
                {{ form_row(form.isActive) }}
            </div>

            {% for translation in form.translations %}
                <div class="tab-pane fade" id="{{ configLocales[translation.vars.value.locale] }}">
                    {{ form_widget(translation) }}
                </div>
            {% endfor %}

            {{ form_rest(form) }}

            <input type="submit" value="{{ sponsor.id ? 'Update' : 'Add' }}" class="btn btn-success" />
        </div>
        {{ form_end(form) }}

    </section>
{% endblock %}
