<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Symfony-camp!{% endblock %}</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
        <link href="{{ asset('bundles/eventevent/css/bootstrap.css') }}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/eventevent/css/slick-theme.css') }}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/eventevent/css/slick.css') }}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/eventevent/css/allstyle.css') }}" media="screen" rel="stylesheet" type="text/css">

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        {% if event.MetaDesc %}
        <meta name="description" content="{{ event.logicMetaDesc }}">
        {% endif %}

        {%  if event.metaKw  %}
        <meta name="keywords" content="{{ event.metaKw }}">
        {% endif %}

        <meta property="og:title" content="{{ event.logicOgTitle }}" />

        {% if event.MetaDesc %}
        <meta property="og:description" content="{{ event.logicOgDesc }}" />
        {% endif %}

        {% if event.ogUrl %}
        <meta property="og:url" content="{{ event.ogUrl }}" />
        {% endif %}

        {% if event.ogImage %}
        <meta property="og:image" content="{{ event.ogImage }}" />
        {% endif %}

        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write("<script src=\"{{ asset('bundles/eventevent/js/jquery-1.10.1.min.js') }}\"><\/script>")</script>
    </head>
    <body>
        {% block body %}
        {% endblock %}

        <script type="text/javascript">
            function checkCaptcha(first, last, result, errorClass) {
                $('.' + errorClass).hide();

                var sum = first * 1 + last * 1,
                    error = '{{ "Please fill correct calculation result"|trans }}';

                if (sum != result) {
                    $('.' + errorClass).html(error).show();

                    return false;
                }

                return true;
            }

            function checkForm() {
                $(".form_call_of_paper input[type='text'], .form_call_of_paper textarea, .form input[type='text'], .form textarea, input[type='email']").blur(function (e) {
                    $(this).val() ? $(this).parents('.field_text').find('span').addClass('field_text_active') : $(this).parents('.field_text').find('span').removeClass('field_text_active');
                });
            }

            checkForm();
        </script>

        {% block javascripts %}
            <script src="{{ asset('bundles/eventevent/js/libs/slick.min.js') }}"></script>
            <script src="{{ asset('bundles/eventevent/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/eventevent/js/holder.js') }}"></script>
        {% endblock %}
    </body>
</html>
