{% extends 'EventEventBundle::base.html.twig' %}
{% set event = app.request.attributes.get('event') %}

{% block title %}{{ event.logicMetaTitle }}{% endblock %}

{% block body %}
    {% block menu %}
        {{ render(controller('EventEventBundle:Event:blockMenu')) }}
    {% endblock %}

        {{ render(controller('EventEventBundle:Event:carousel')) }}

    <article class="info bg">
        <div class="event-place-wrap">
            <h2>{{ 'Where will it be'|trans }}?</h2>
            <p>
                <i class="ico_map_pin_min"></i> <strong>{{ event.translated('venue', app.request.locale) }}, {{ event.translated('country', app.request.locale) ~ ' ' ~ event.translated('city', app.request.locale) }} /</strong>
                <i class="ico_group"></i> <strong>{{ event.startDate|date|trans }}</strong>
            </p>
        </div>
        <div class="container">
            <div class="wrapper">
                <h2>{{ event.translated('description', app.request.locale)|raw }}</h2>
            </div>
        </div>
    </article>

            {{ render(controller('EventEventBundle:Event:speakers')) }}

            {{ render(controller('EventEventBundle:Event:schedule')) }}

            {{ render(controller('EventEventBundle:Event:aboutSymfony')) }}

            {{ render(controller('EventEventBundle:Event:venue')) }}

            {{ render(controller('EventEventBundle:Event:conferences')) }}

            {{ render(controller('EventEventBundle:Event:tickets')) }}

            {{ render(controller('EventEventBundle:Event:sponsors')) }}

            {{ render(controller('EventEventBundle:Event:organizers')) }}

            {{ render(controller('EventEventBundle:Event:contact')) }}

            <script type="text/javascript">
                $(function() {
                    $('.call-for-paper').on('click', function(e) {
                        e.preventDefault();

                        $('#callForPaper').modal('show');
                    });
                })
            </script>

    {% include 'EventEventBundle:Event:_footer.html.twig' %}

    <script>
        $(document).ready(function () {
            var modal_timeout = 30000;
            function getCookie(name) {
                var matches = document.cookie.match(new RegExp(
                        "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
                ));
                return matches ? decodeURIComponent(matches[1]) : undefined;
            }

            function showTicketsModal(time){
                if(!getCookie('ticketModal')) {
                    setTimeout(function () {
                        $('#buy-tickets-modal').modal();
                    }, time);
                }
            }

            showTicketsModal(modal_timeout);

            $("#buy-tickets-modal").on("hidden.bs.modal", function () {
                showTicketsModal(modal_timeout);
            });

            $('#tickets-modal-buy').on('click', function () {
                $('#buy-tickets-modal').modal('toggle');
                document.cookie = "ticketModal=hide";
            });
        });

    </script>
    <div class="modal fade" id="buy-tickets-modal">
        <div class="modal-dialog">
            <div class="modal-content tickets-modal-bg">
                <div class="modal-header">
                    <button type="button" class="close tickets-modal-close" data-dismiss="modal" aria-hidden="true">
                        <img src="{{ asset('bundles/eventevent/img/tickets-modal-close.svg') }}" alt="" />
                    </button>

                </div>
                <div class="modal_content">
                    <div class="row">
                        <div class="col-sm-12 tickets-modal-buy-button">
                            <a href="#tickets" class="btn btn_blue" id="tickets-modal-buy">buy ticket</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
