{% extends 'EventEventBundle::base.html.twig' %}
{% set event = app.request.attributes.get('event') %}

{% block title %}Welcome to the {{ event.title }}!{% endblock %}

{% block body %}
    {% block menu %}
    <div class="navbar-wrapper" style="z-index:1030">
        <div class="container">

            <div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="{{ path('event_homepage') }}">{{ event.title }}</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#home">Home</a></li>
                            <li><a href="#speakers">Speakers</a></li>
                            <li><a href="#venue">Venue</a></li>
                            <li><a href="#schedule">Schedule</a></li>
                            <li><a href="#sponsors">Sponsors</a></li>
                            <li><a href="#organizers">Organizers</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% endblock %}

    {% render controller('EventEventBundle:Event:carousel') %}

    <div class="container marketing">
        {% for message in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ message|trans }}
            </div>
        {% endfor %}
        {% for message in app.session.flashbag.get('error') %}
            <div class="alert alert-error">
                {{ message|trans }}
            </div>
        {% endfor %}
        {% for message in app.session.flashbag.get('notice') %}
            <div class="alert alert-info">
                {{ message|trans }}
            </div>
        {% endfor %}

        {# one page event do not required content #}
        {# {% block content %}{% endblock %} #}

        <div>
            <h2>November 2th &mdash; Symfony + Drupal Hackathon</h2>
            <p>
                After first camp day next day will be the first Ukrainian Symfony Hakathon day.
            <p>
            </p>
                We'll work all together to solve open issues
                on the most popular FOSS project as well you're feel free to working on symfony feature due the Hackathon.
                <br />
                As well you also can take a play role in the part of the better integration Symfony component with the Drupal.
            <p>
            </p>
                If you want to participate in the Symfony Hackathon you should pass quick
                <a href="https://docs.google.com/forms/d/1XMO_H_sp4cyHOVKhqUNWu6bEO_y20P44lorG7cs8Dx0/viewform" target="_blank">registration</a> (space is limited).
            </p>
        </div>

        {% render controller('EventEventBundle:Event:speakers') %}

        {% render controller('EventEventBundle:Event:venue') %}

        {% render controller('EventEventBundle:Event:schedule') %}

        {% render controller('EventEventBundle:Event:sponsors') %}

        {% include 'EventEventBundle:Component:_organizers.html.twig' %}

        {% render controller('EventEventBundle:Event:contact') %}

        <script type="text/javascript">
            $(function() {
                $('.call-for-paper').on('click', function(e) {
                    e.preventDefault();

                    $('#callForPaper').modal('show');
                });

                $('.send-request').on('click', function(e) {
                    $(this).html("{{ 'Sending'|trans }}" + "...").prop('disabled', 'disabled');

                    e.preventDefault();
                    $.post(
                        $(this.form).attr('action'),
                        $(this.form).serializeArray(),
                        function(data){
                            if (data == 'Success') {
                                $('#callForPaperForm').html("{{ 'Thank you for request, we\'ll answer back asap.'|trans }}");
                            } else {
                                $('#callForPaperForm').html(data);
                            }

                            $(this).html("{{ 'Send'|trans }}").removeProp('disabled');
                        }
                    );
                });
            })
        </script>

        <hr class="featurette-divider">
        <footer>
            <p class="pull-right"><a href="#">to the top</a></p>
            <p>&copy; 2013 {{ event.title }}</p>
            <p><small class="text-muted">Under the hood: <a href="https://github.com/pilot/eventator">Eventator &mdash; Events Manager</a></small></p>
        </footer>
    </div>
{% endblock %}
