{% set current_route = app.request.server.get('PHP_SELF')|replace({'/app_dev.php': ''}) %}
{% set current_route = app.request.server.get('PHP_SELF')|replace({'app.php': ''}) %}
{% if current_route != '/' %}
    {% set home_page = false %}
{% endif %}
<header>
    <div class="container">
        <div class="flex">
            <div class="btn_menu">
                <div class="hamburger_icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="logo">
                {% for host in hosts %}
                    {% if loop.last %}
                        <a href="{{host.host}}"><img src="{{ asset('bundles/eventevent/img/logo.png') }}" alt=""></a>
                    {% endif %}
                {% endfor %}

            </div>
            <div class="lang_switcher_container">
                {% set active_locale = app.request.cookies.get('user_locale') %}
                {% if active_locale is null %}
                    {% set active_locale = default_lang %}
                {% endif %}
                <ul class="languages_ul">
                {% for lang in user_languages %}
                    <li>
                        <a class="{{ lang == active_locale ? 'active_locale' : ""}}" href="{{ url('lang_switch', {'lang': lang}) }}">{{ lang }}</a>
                    </li>
                {%  endfor %}
                </ul>
            </div>
            <div class="menu">
                <ul>
                    {{ app.request.get('event_component_call_for_paper_view')}}
                    <li><a class="{{  home_page ? 'active' : "" }}" href="{{ home_page ? '' : path('event_homepage') }}#home">{{ 'Home'|trans }}</a></li>
                    <li><a href="{{ home_page ? '' : path('event_homepage') }}#speakers">{{ 'Speakers'|trans }}</a></li>
                    <li><a href="{{ home_page ? '' : path('event_homepage') }}#schedule">{{ 'Schedule'|trans }}</a></li>
                    <li><a href="{{ home_page ? '' : path('event_homepage') }}#venue">{{ 'Venue'|trans }}</a></li>
                    <li><a href="{{ home_page ? '' : path('event_homepage') }}#sponsors">{{ 'Sponsors'|trans }}</a></li>
                    <li><a href="{{ home_page ? '' : path('event_homepage') }}#organizers">{{ 'Organizers'|trans }}</a></li>
                    <li><a href="{{ home_page ? '' : path('event_homepage') }}#contact">{{ 'Contact'|trans }}</a></li>
                    <li><a href="{{ path('event_component_call_for_paper_view') }}" class={{ home_page ? '' : "active" }}>{{ 'Call for paper'|trans }}</a></li>
                    <li class="dropdown">
                        <a class="hide-show" href="#">{{ 'Past years'|trans }}</a>
                        <i></i>
                        <div class="list_item">
                            <ul>
                                {% for host in hosts %}
                                <li><a href="{{ host.host }}">{{ host.year }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    <li><a href="{{ home_page ? '' : path('event_homepage') }}#tickets" class="btn btn_blue block_menu_btn">{{ 'buy tickets'|trans }}</a></li>
                    {#% if event.isActive and event.embedTicket %}
                        <li class="btn"><a href="#" class="btn btn_blue modal-active">{{ 'buy tickets'|trans }}</a></li>
                    {% else %}
                        <li class="btn" style="pointer-events: none;"><button class="btn btn_blue" disabled="disabled">{{ 'buy tickets'|trans }}</button></li>
                    {% endif %#}
                </ul>
            </div>
        </div>
    </div>
</header>

<script type="text/javascript">
    $(function(){
        $('.hide-show').click(function(){
            $('.list_item').show();
        });
        $(document).mouseup(function (e) {
            if ($(".list_item").has(e.target).length === 0) {
                $(".list_item").hide();
            }
        });
    });

    $(".hamburger_icon").click(function() {
        $(this).toggleClass("open");
        $('.menu').animate({width: 'toggle'}, 250);
    });

    $(".menu ul li a").click(function() {
        $(".hamburger_icon").removeClass("open");
        $(".menu ul li a").removeClass('active');
        $(this).addClass('active');
        if ($(window).width() < 1090) {
            $('.menu').hide();
        }
    });

    $(function () {
        $('.modal-active').on('click', function (e) {
            e.preventDefault();
            $('#registration').modal('show');
        });
    })
</script>
