<header>
    <div class="container">
        <div class="flex">
            <div class="btn_menu">
                <div class="hamburger_icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="logo">
                <a href="/"><img src="{{ asset('bundles/eventevent/img/logo.png') }}" alt=""></a>
            </div>

            <div class="menu">
                <ul>
                    {{ app.request.get('event_component_call_for_paper_view')}}
                    <li><a href="{{ home_page ? '' : path('event_homepage') }}#home">Home</a></li>
                    <li><a href="{{ home_page ? '' : path('event_homepage') }}#speakers">Speakers</a></li>
                    <li><a href="{{ home_page ? '' : path('event_homepage') }}#schedule">Schedule</a></li>
                    <li><a href="{{ home_page ? '' : path('event_homepage') }}#venue">Venue</a></li>
                    <li><a href="{{ home_page ? '' : path('event_homepage') }}#sponsors">Sponsors</a></li>
                    <li><a href="{{ home_page ? '' : path('event_homepage') }}#organizers">Organizers</a></li>
                    <li><a href="{{ home_page ? '' : path('event_homepage') }}#contact">Contact</a></li>
                    <li><a href="{{ path('event_component_call_for_paper_view') }}">Call for Paper</a></li>
                    <li class="dropdown">
                        <a href="#">Past years</a>
                        <i></i>
                        <div class="list_item"></div>
                    </li>
                    <li class="btn"><a href="#" class="btn_blue">buy tickets</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<script type="text/javascript">
    $(function() {
        $(".hamburger_icon").click(function() {
            $(".hamburger_icon").removeClass("hamburger_icon");
            $(this).toggleClass("hamburger_icon open");
            $('.menu').animate({opacity: 'toggle', height: 'toggle'}, 500);
        })
    });
</script>