<div id="myCarousel" class="carousel slide">
    {# Indicators #}
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div id="home" class="carousel-inner">
        {% for index in 1..3 %}
        <div class="item {{ index == 1 ? 'active' : '' }}">
            <img class="slide" src="http://lorempixel.com/g/1500/800/business/{{ index }}">
            <div class="container">
                <div class="carousel-caption">
                    {% if not event.logo %}
                        <h1>{{ event.title }}</h1>
                    {% else %}
                        <p><img class="onslide" src="{{ event.logo }}" alt="{{ event.title }}" /></p>
                    {% endif %}
                    <p>{{ event.briefDescription }}</p>
                    <p>
                        {{ event.venue }} /
                        {{ event.startDate|date }} /
                        {{ event.country ~ ' ' ~ event.city }}
                    </p>
                    <p>
                        {% if event.isActive and event.embedTicket %}
                            <a class="btn btn-large btn-primary registration" href="#">{{ 'Registration'|trans }}</a>
                        {% else %}
                            <button class="btn btn-large btn-primary" disabled="disabled">{{ 'Registration closed'|trans }}</button>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<div class="modal fade" id="registration">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ 'Registration'|trans }}</h4>
            </div>
            <div class="modal-body">
                {{ event.embedTicket|raw }}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $('.registration').on('click', function(e) {
            e.preventDefault();

            $('#registration').modal('show');
        });
    })
</script>
