{% form_theme form 'EventEventBundle::form_theme.html.twig' %}
<div id="contact" class="indent"></div>
<section class="contact_us">
    <div class="container">
        <div class="flex">
            <div class="form">
                <h2><i class="ico_contact_us"></i>{{ 'Contact US'|trans }}</h2>
                <fieldset>
                    {{ form_start(form, {'method': 'POST', 'attr': {'id': 'contact'}, 'action': url('event_component_contact')}) }}

                    {% block form_row %}
                        <div class="field_text">
                            {{ form_errors(form.name) }}
                            {{ form_widget(form.name) }}
                            <span>{{ 'Name'|trans }}</span>
                        </div>
                        <div class="field_text">
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email) }}
                            <span>{{ 'Email'|trans }}</span>
                        </div>
                        <div class="field_text">
                            {{ form_errors(form.message) }}
                            {{ form_widget(form.message) }}
                            <span>{{ 'Message'|trans }}</span>
                        </div>
                    {% endblock form_row %}

                    {{ form_rest(form) }}

                    <div class="alert alert-error captcha-error-contacts" style="display:none;"></div>
                    <div class="raw mobile_flex">
                        {# simple captcha #}
                        <div class="col-lg-3">
                            <img class="img-circle" data-src="holder.js/140x40/text:{{ captcha.first ~ ' + ' ~ captcha.last ~ ' =' }}" width="140" />
                        </div>
                        <div class="col-lg-2">
                            <input type="text" name="calc" class="form-control captcha-calc-contacts" required="required" />
                        </div>
                    </div>

                    <button class="btn btn-default btn_blue btn-contact-send" type="submit">{{ 'Send'|trans }}</button>
                    {{ form_end(form) }}
                </fieldset>
            </div>
            <div class="find_us">
                <h2><i class="ico_find_us"></i>{{ 'Find Us'|trans }}</h2>
                <ul style="margin-top: 55px">
                    <li>
                        {% if event.twitter %}
                            <a href="{{ event.twitter }}" target="_blank" class="twitter"></a>
                        {% endif %}
                    </li>
                    {% if event.facebook %}
                        <a href="{{ event.facebook }}" target="_blank" class="facebook"></a>
                    {% endif %}
                    {% if event.google %}
                        <a href="{{ event.google }}" target="_blank" class="google"></a>
                    {% endif %}
                </ul>
                <p>{{ event.translated('contact', app.request.locale)|raw }}</p>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function(){
        $('button.btn-contact-send').on('click', function(e) {
            var first = '{{ captcha.first }}',
                last = '{{ captcha.last }}',
                result = $('.captcha-calc-contacts').val();

            if (!checkCaptcha(first, last, result, 'captcha-error-contacts')) {
                return false;
            }
        });
    });
</script>
