{% if event.organizers is not empty %}
<section class="organizer bg">
    <div id="organizers" class="indent"></div>
    <div class="container">
        <h2><i class="ico_organizers"></i>{{ 'Organizers'|trans }}</h2>

        <ul class="list_speakers">
            {% for organizer in event.organizers %}
                <li>
                    <a href="{{ organizer.translated('homepage', app.request.locale) }}">
                        <img class="img-circle face" data-src="holder.js/140x140/text:{{ organizer.translated('homepage', app.request.locale) }}" src="{{ organizer.logo ?: '' }}" width="140" />
                        <span>{{ organizer.translated('title', app.request.locale) }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}
