<section class="speakers">
    <div id="speakers" class="indent"></div>
    <div class="container">
        <div class="speakers">
            <h2><i class="ico_speakers"></i>{{ 'Speakers'|trans }}</h2>
            <h3 class="subtitle">{{ 'Apply to speak through our'|trans }} <a href="javascript:void(0)" class="call-for-paper">{{ 'call for paper'|trans }}</a></h3>

            {% if speakers %}
                <ul class="list_speakers">
                    {% for speaker in speakers %}
                        <li>
                            {% set id = speaker.firstName ~ '-' ~ speaker.lastName ~ '-' ~ speaker.id %}
                            {% set id = id|replace(' ', '_') %}
                            <a href="#{{ id }}" role="button" data-toggle="modal">
                                <img class="img-circle" data-src="holder.js/140x140/text:{{ speaker.translated('firstName', app.request.locale) ~ ' ' ~ speaker.translated('lastName', app.request.locale) }}" src="{{ speaker.photo ?: '' }}" width="140" />
                                <span>{{ speaker.translated('firstName', app.request.locale) ~ ' ' ~ speaker.translated('lastName', app.request.locale) }}</span>
                            </a>
                        </li>
                        {% include 'EventEventBundle:Event:_speaker-modal.html.twig' %}
                    {% endfor %}
                </ul>
            {% endif %}

            {# call for paper modal #}
            {% include 'EventEventBundle:Event:_callForPaper.html.twig' with { 'form': form } %}
        </div>
    </div>
</section>
