{% macro sponsors(sponsors, type) %}
    {% if type == 4 and sponsors|length > 0 %}
    <div class="center">
        <ul class="list_sponsors">
            <h2 class="text">{{ 'General sponsors'|trans }}</h2>
            {% for sponsor in sponsors %}
                <li>
                    <a href="#company-{{ sponsor.id }}" role="button" data-toggle="modal">
                        <img class="img-circle face" data-src="holder.js/140x140/text:{{ sponsor.company }}" src="{{ sponsor.logo ?: '' }}" height="140" width="140" />
                        <span>{{ sponsor.translated('company', app.request.locale) }}</span>
                    </a>
                    {% include 'EventEventBundle:Event:_sponsor-modal.html.twig' %}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% elseif type == 2 and sponsors|length > 0 %}
        <div class="center">
            <ul class="list_sponsors gold">
                <h3 class="text">{{ 'Gold sponsors'|trans }}</h3>
                {% for sponsor in sponsors %}
                    <li>
                        <a href="#company-{{ sponsor.id }}" role="button" data-toggle="modal">
                            <img class="img-circle face" data-src="holder.js/140x140/text:{{ sponsor.company }}" src="{{ sponsor.logo ?: '' }}" height="140" width="140" />
                            <span>{{ sponsor.translated('company', app.request.locale) }}</span>
                        </a>
                        {% include 'EventEventBundle:Event:_sponsor-modal.html.twig' %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% elseif type == 3 and sponsors|length > 0 %}
        <div class="center">
            <ul class="list_sponsors middle">
                <h4 class="text">{{ 'Silver sponsors'|trans }}</h4>
                {% for sponsor in sponsors %}
                    <li>
                        <a href="#company-{{ sponsor.id }}" role="button" data-toggle="modal">
                            <img class="img-circle face" data-src="holder.js/140x140/text:{{ sponsor.company }}" src="{{ sponsor.logo ?: '' }}" height="140" width="140" />
                            <span>{{ sponsor.translated('company', app.request.locale) }}</span>
                        </a>
                        {% include 'EventEventBundle:Event:_sponsor-modal.html.twig' %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% elseif type == 5 and sponsors|length > 0 %}
        <div class="center">
            <ul class="list_sponsors middle">
                <h4 class="text">{{ 'Info Partners'|trans }}</h4>
                {% for sponsor in sponsors %}
                    <li>
                        <a href="#company-{{ sponsor.id }}" role="button" data-toggle="modal">
                            <img class="img-circle face" data-src="holder.js/140x140/text:{{ sponsor.company }}" src="{{ sponsor.logo ?: '' }}" height="140" width="140" />
                            <span>{{ sponsor.translated('company', app.request.locale) }}</span>
                        </a>
                        {% include 'EventEventBundle:Event:_sponsor-modal.html.twig' %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}

<section class="sponsors">
    <div id="sponsors" class="indent"></div>
    <div class="container">
        <h2><i class="ico_sponsors"></i>{{ 'Sponsors'|trans }}</h2>
        <p class="lead sponsors_desc">{{ event.translated('sponsorDescription', app.request.locale)|nl2br }}</p>
        {% set generalType = constant('Event\\EventBundle\\Entity\\Sponsor::TYPE_GENERAL') %}
        {% set goldType = constant('Event\\EventBundle\\Entity\\Sponsor::TYPE_GOLD') %}
        {% set silverType = constant('Event\\EventBundle\\Entity\\Sponsor::TYPE_SILVER') %}
        {% set infoType = constant('Event\\EventBundle\\Entity\\Sponsor::TYPE_INFO') %}

        {% if event.sponsors|length > 0 and event.getSponsorsExclude|length > 0 %}
            {{ _self.sponsors(event.getSpecifiedSponsors(generalType), generalType) }}
            {{ _self.sponsors(event.getSpecifiedSponsors(goldType), goldType) }}
            {{ _self.sponsors(event.getSpecifiedSponsors(silverType), silverType) }}
            {{ _self.sponsors(event.getSpecifiedSponsors(infoType), infoType) }}
        {% endif %}

        {% if event.specifiedSponsors()|length > 0 %}
            {{ _self.sponsors(event.specifiedSponsors) }}
        {% endif %}
    </div>
</section>
