{% macro sponsors(sponsors) %}
    <div class="center">
        <ul class="list_sponsors">
            {% for sponsor in sponsors %}
                {% if sponsor.type == 2 %}
                    <h2 class="text">Gold sponsors</h2>
                    <li>
                        <a href="#company-{{ sponsor.id }}" role="button" data-toggle="modal">
                            <img class="img-circle face" data-src="holder.js/140x140/text:{{ sponsor.company }}" src="{{ sponsor.logo ?: '' }}" height="140" width="140" />
                            <span>{{ sponsor.company }}</span>
                        </a>
                        {% include 'EventEventBundle:Event:_sponsor-modal.html.twig' %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="center">
        <ul class="list_sponsors middle">
            {% for sponsor in sponsors %}
                {% if sponsor.type == 3 %}
                    <h3 class="text">Silver sponsors</h3>
                    <li>
                        <a href="#company-{{ sponsor.id }}" role="button" data-toggle="modal">
                            <img class="img-circle face" data-src="holder.js/140x140/text:{{ sponsor.company }}" src="{{ sponsor.logo ?: '' }}" height="140" width="140" />
                            <span>{{ sponsor.company }}</span>
                        </a>
                        {% include 'EventEventBundle:Event:_sponsor-modal.html.twig' %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div >
        <ul class="list_sponsors middle">
            {% for sponsor in sponsors %}
                {% if sponsor.type == 5 %}
                    <li>
                        <a href="#company-{{ sponsor.id }}" role="button" data-toggle="modal">
                            <img class="img-circle face" data-src="holder.js/140x140/text:{{ sponsor.company }}" src="{{ sponsor.logo ?: '' }}" height="140" width="140" />
                            <span>{{ sponsor.company }}</span>
                        </a>
                        {% include 'EventEventBundle:Event:_sponsor-modal.html.twig' %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

<section class="sponsors">
    <div id="sponsors" class="indent"></div>
    <div class="container">
        <h2><i class="ico_sponsors"></i>Sponsors</h2>
        <p class="lead">{{ event.sponsorDescription|nl2br }}</p>

        {% if event.sponsors|length > 0 and event.getSponsorsExclude|length > 0 %}
            {{ _self.sponsors(event.getSponsorsExclude) }}
        {% endif %}

        {% if event.specifiedSponsors()|length > 0 %}
            <h3 class="featurette-heading">Info Partners</h3>
            {{ _self.sponsors(event.specifiedSponsors) }}
        {% endif %}
    </div>
</section>