{% macro sponsors(sponsors) %}
    <div class="row">
        {% for sponsor in sponsors %}
            <div class="col-lg-2 ta-center">
                <a href="#company-{{ sponsor.id }}" role="button" data-toggle="modal">
                    <span id="face-wrapper">
                        <img class="img-circle face" data-src="holder.js/140x140/text:{{ sponsor.company }}" src="{{ sponsor.logo ?: '' }}" height="140" width="140" />
                    </span>
                </a>
                <h2><a href="##company-{{ sponsor.id }}" role="button" data-toggle="modal">{{ sponsor.company }}</a></h2>
            </div>
            {% include 'EventEventBundle:Event:_sponsor-modal.html.twig' %}
        {% endfor %}
    </div>
{% endmacro %}

<hr id="sponsors" class="featurette-divider">
<h2 class="featurette-heading">Sponsors</h2>
<p class="lead">{{ event.sponsorDescription|nl2br }}</p>

{% if event.sponsors|length > 0 and event.getSponsorsExclude|length > 0 %}
    {{ _self.sponsors(event.getSponsorsExclude) }}
{% endif %}

{% if event.specifiedSponsors()|length > 0 %}
    <h2 class="featurette-heading">Info Partners</h2>
    {{ _self.sponsors(event.specifiedSponsors) }}
{% endif %}

