<section class="venue" style="{{ blocks.showVenueSection ? '' : 'display:none' }}">
    <div id="venue" class="indent"></div>
    <div class="container">
        <div class="wrapper">
            <h2><i class="ico_venue"></i>Venue</h2>
            <h3 class="subtitle">
                {{ event.venue }} /
                {{ event.startDate|date }} /
                {{ event.venueAddress ? event.venueAddress ~ ' / ' : '' }}{{ event.country ~ ' ' ~ event.city }}
            </h3>
        </div>
    </div>
</section>
<section class="map" style="{{ blocks.showMapSection ? '' : 'display:none' }}">
    <div id="map-canvas" style="height: 500px;"></div>
</section>
{% if blocks.showMapSection %}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    function initialize() {
        var mapCanvas = document.getElementById('map-canvas'),
            myLatlng = new google.maps.LatLng('{{ event.latitude }}', '{{ event.longitude }}');
        var mapOptions = {
            center: myLatlng,
            zoom: 16,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            scrollwheel: false,
            mapMaker: true
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: '{{ event.title }}'
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endif %}
