<section class="tickets">
    <div id="tickets" class="indent"></div>
    <div class="container">
        <h2><i class="ico_tickets"></i>{{ 'Workshop'|trans }}</h2>
        <ul class="list_tickets">
            {%  set counter = 1 %}
            {% for workshop in event.workshops if workshop.isActive %}
                {% if counter == event.tickets|length %}
                    {% set class = 'last' %}
                {% elseif counter == 1 %}
                    {% set class = 'first' %}
                {% else %}
                    {% set class = '' %}
                {% endif %}
                {% set counter = counter + 1 %}
                <li class="ticket-item workshop_item {{ class }}">
                    <form class="buy-tickets" method="POST" action="{{ url('event_component_workshop') }}">
                        <div class="ticket_name">{{ workshop.name }}</div>
                        <div class="ticket_price">{{ workshop.PriceWithLabel}} </div>
                        <div class="ticket_date">{{ 'Date'|trans }}: {{ workshop.date|date('d F Y')}} </div>
                        <ul class="wsh_schedule">
                            {% for item in workshop.schedule %}
                                {% if item.isActive %}
                                <li>{{ item.text }}</li>
                                {% endif %}
                            {% endfor %}
                            {% if count > workshop.schedule|length %}
                                {% set empty = count - workshop.schedule|length %}
                                {% for i in 1..empty %}
                                    <li></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                        <div class="wsh_time">
                            {{ 'Time'|trans }}: {{ workshop.time }}
                        </div>
                        <div class="wsh_count ">
                            {{ 'Remaining Count'|trans }}: {{ workshop.remainingCount }}
                        </div>
                        <input type="hidden" name="wsh_id" value="{{ workshop.id }}" />
                        <div class="tickets-submit-container wsh-buy-button-container">
                            {% if workshop.remainingCount > 0 %}
                                {% set disabled = '' %}
                            {%  else %}
                                {% set disabled = 'disabled="disabled"' %}
                            {% endif %}
                            <button type="submit" class="buy_tickets_button btn btn_blue" {{ disabled }}>
                                <span>{{ 'Buy tickets'|trans }}</span>
                            </button>
                        </div>
                    </form>
                </li>
            {% else  %}
                {{ 'Coming soon...' }}
            {% endfor %}
        </ul>
    </div>
</section>

